<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; height: 100%;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
              <span class="fs-4"> 
                      <img class="img-fluid" src="/assets/images/logo3.png" alt="Kbank" style='width:170px;'>


              </span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                <a href="{{path('app_admin')}}" class=" text-light nav-link {%if page == 'admin' %} active {%endif%}" aria-current="page">
                  <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                  Painel de controle
                </a>
              </li>
              <li>
                <a href="{{path('app_admin_contas')}}" class="nav-link text-white {%if page == 'contas' %} active {%endif%}">
                  <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                  Contas
                </a>
              </li>
              <li>
                <a href="{{path('app_admin_agencias')}}" class="nav-link text-white {%if page == 'agencias' %} active {%endif%}">
                  <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                  Agencias
                </a>
              </li>
              <li>
                <a href="{{path('app_admin_gerentes')}}" class="nav-link text-white {%if page == 'gerentes' %} active {%endif%}">
                  <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                  Gerentes
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-white">
                  <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                  Clientes
                </a>
              </li>
            </ul>
            <hr>
             {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="dropdown">
              <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>{{app.user}}</strong>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
               

               <!-- <li><a class="dropdown-item" href="#">Settings</a></li>-->
               <!-- <li><a class="dropdown-item" href="#">Profile</a></li>-->

                <li><hr class="dropdown-divider"></li>
               
                <li><a class="dropdown-item" href="{{path('app_logout')}}">Sair</a></li>
               
              </ul>
            </div>
             {%endif%}
          </div>